.homepage {
  display: flex;
  flex-direction: column;
}
.homepage .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage .header h1 {
  color: #d04f4f;
  font-family: "DM sans";
  margin: 0;
  font-size: 2.3125rem;
}
.homepage .main-content {
  display: flex;
  flex-direction: column;
}
.homepage .main-content .search-and-tags {
  display: flex;
  flex-direction: column;
}
.homepage .main-content .search-and-tags .search-bar {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #e7e7e7;
}
.homepage .main-content .search-and-tags .search-bar input {
  height: 100%;
  flex-grow: 1;
  border: none;
  box-sizing: border-box;
  background-color: inherit;
}
.homepage .main-content .search-and-tags .search-bar img {
  width: 20px;
}
.homepage .main-content .search-and-tags .order-selections {
  display: flex;
  align-items: flex-start;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection {
  width: inherit;
  min-height: 4.3125rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection.opened-list {
  flex-basis: 33.33%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection .select-arrow {
  content: url("../../images/icons/arrow_top.svg");
  position: absolute;
  right: 0;
  top: 30px;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection .select-arrow.bottom-arrow {
  content: url("../../images/icons/arrow_bottom.svg");
}
.homepage .main-content .search-and-tags .order-selections .choices-selection.ingredients-selection {
  background-color: #3282f7;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection.appliances-selection {
  background-color: #68d9a4;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection.ustensils-selection {
  background-color: #ed6454;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection input {
  background-color: inherit;
  border: none;
  outline: none;
  color: white;
  min-height: 4.3125rem;
  flex-basis: 100%;
  border-radius: 5px;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection input::placeholder {
  color: white;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection .choices-list {
  flex-basis: 100%;
  flex-wrap: wrap;
  display: none;
  position: absolute;
  background: inherit;
  top: 69px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection .choices-list.show-list {
  display: flex;
}
.homepage .main-content .search-and-tags .order-selections .choices-selection .choices-list .choice {
  flex-basis: 30%;
}
.homepage .main-content .recipes-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.homepage .main-content .recipes-list .recipe {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}
.homepage .main-content .recipes-list .recipe .recipe-image {
  height: 300px;
  background-color: grey;
}
.homepage .main-content .recipes-list .recipe .recipe-content {
  display: flex;
  flex-wrap: wrap;
}
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-heading {
  flex-basis: 50%;
}
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-duration {
  flex-basis: 50%;
}
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-description {
  flex-basis: 50%;
}
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-ingredients {
  flex-basis: 50%;
}

body {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
