.homepage {
  display: flex;
  flex-direction: column;
}
.homepage .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage .header .header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.homepage .header .header-logo h1 {
  color: #d04f4f;
  font-family: "DM sans";
  margin: 0;
  font-size: 2.3125rem;
}
.homepage .main-content {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
.homepage .main-content .search-and-tags {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 150px;
}
.homepage .main-content .search-and-tags .search-bar {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #e7e7e7;
  align-items: center;
  border-radius: 5px;
}
.homepage .main-content .search-and-tags .search-bar input {
  border-radius: 5px;
  height: 100%;
  flex-grow: 1;
  border: none;
  box-sizing: border-box;
  background-color: inherit;
  padding-left: 20px;
  padding-right: 20px;
}
.homepage .main-content .search-and-tags .search-bar img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.homepage .main-content .search-and-tags .orders {
  position: absolute;
  top: 90px;
}
.homepage .main-content .search-and-tags .orders .active-tags {
  display: flex;
}
.homepage .main-content .search-and-tags .orders .active-tags .active-choice {
  color: white;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.homepage .main-content .search-and-tags .orders .active-tags .active-choice .ording-text {
  margin-right: 10px;
}
.homepage .main-content .search-and-tags .orders .active-tags .active-choice-ingredients {
  background-color: #3282f7;
}
.homepage .main-content .search-and-tags .orders .active-tags .active-choice-appliances {
  background-color: #68d9a4;
}
.homepage .main-content .search-and-tags .orders .active-tags .active-choice-ustensils {
  background-color: #ed6454;
}
.homepage .main-content .search-and-tags .orders .order-selections {
  display: flex;
  align-items: flex-start;
  top: 150px;
  column-gap: 20px;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection {
  width: inherit;
  min-height: 4.3125rem;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  border-radius: 5px;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection.opened-list {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection .select-arrow {
  content: url("../../images/icons/arrow_top.svg");
  position: absolute;
  right: 20px;
  top: 30px;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection .select-arrow.bottom-arrow {
  content: url("../../images/icons/arrow_bottom.svg");
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection.ingredients-selection {
  background-color: #3282f7;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection.appliances-selection {
  background-color: #68d9a4;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection.ustensils-selection {
  background-color: #ed6454;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection input {
  background-color: inherit;
  border: none;
  outline: none;
  color: white;
  min-height: 4.3125rem;
  flex-basis: 100%;
  border-radius: 5px;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection input::placeholder {
  color: white;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection .choices-list {
  flex-wrap: wrap;
  display: none;
  background: inherit;
  top: 69px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection .choices-list.show-list {
  display: flex;
  column-gap: 10px;
}
.homepage .main-content .search-and-tags .orders .order-selections .choices-selection .choices-list .choice {
  flex-basis: 32%;
  margin-bottom: 10px;
}
.homepage .main-content .recipes-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-between;
}
.homepage .main-content .recipes-list .recipe {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.homepage .main-content .recipes-list .recipe .recipe-image {
  height: 170px;
  background-color: #c7bebe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.homepage .main-content .recipes-list .recipe .recipe-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #e7e7e7;
  padding: 18px;
  height: 200px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.homepage .main-content .recipes-list .recipe .recipe-content .heading-and-duration {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.homepage .main-content .recipes-list .recipe .recipe-content .heading-and-duration .recipe-heading {
  font-size: 1.125rem;
}
.homepage .main-content .recipes-list .recipe .recipe-content .heading-and-duration .recipe-duration {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
  column-gap: 10px;
  white-space: nowrap;
}
.homepage .main-content .recipes-list .recipe .recipe-content .heading-and-duration .recipe-duration .duration-icon {
  height: 20px;
  width: 20px;
}
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-ingredients,
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-description {
  font-size: 0.75rem;
}
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-description {
  flex-basis: 50%;
  line-clamp: 5;
}
.homepage .main-content .recipes-list .recipe .recipe-content .recipe-ingredients {
  flex-basis: 50%;
}

body {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
